/**
 * @file
 * Textcolor "orange".
 */
.willibald-pane.tx-orange p,
.willibald-pane.tx-orange li,
.willibald-pane.tx-orange blockquote,
.willibald-pane.tx-orange h1,
.willibald-pane.tx-orange h2,
.willibald-pane.tx-orange h3,
.willibald-pane.tx-orange h4,
.willibald-pane.tx-orange h5,
.willibald-pane.tx-orange h6 {
  color: #ef7d00;
}

.willibald-pane.tx-orange a {
  color: #ef7d00;
  text-decoration: underline;
}

.willibald-pane.tx-orange a:hover {
  opacity: .7;
}

/*# sourceMappingURL=willibald-panelstyle.tx-orange.css.map */