/**
 * @file
 * Textcolor "green".
 */
.willibald-pane.tx-green p,
.willibald-pane.tx-green li,
.willibald-pane.tx-green blockquote,
.willibald-pane.tx-green h1,
.willibald-pane.tx-green h2,
.willibald-pane.tx-green h3,
.willibald-pane.tx-green h4,
.willibald-pane.tx-green h5,
.willibald-pane.tx-green h6 {
  color: #95c11f;
}

.willibald-pane.tx-green a {
  color: #95c11f;
  text-decoration: underline;
}

.willibald-pane.tx-green a:hover {
  opacity: .7;
}

/*# sourceMappingURL=willibald-panelstyle.tx-green.css.map */