/**
 * @file
 * Textcolor "white".
 */
.willibald-pane.tx-white p,
.willibald-pane.tx-white li,
.willibald-pane.tx-white blockquote,
.willibald-pane.tx-white h1,
.willibald-pane.tx-white h2,
.willibald-pane.tx-white h3,
.willibald-pane.tx-white h4,
.willibald-pane.tx-white h5,
.willibald-pane.tx-white h6 {
  color: #fff;
}

.willibald-pane.tx-white a {
  color: #fff;
  text-decoration: underline;
}

.willibald-pane.tx-white a:hover {
  opacity: .7;
}

/*# sourceMappingURL=willibald-panelstyle.tx-white.css.map */