/**
 * @file
 * Textcolor "light blue".
 */
.willibald-pane.tx-light-blue p,
.willibald-pane.tx-light-blue li,
.willibald-pane.tx-light-blue blockquote,
.willibald-pane.tx-light-blue h1,
.willibald-pane.tx-light-blue h2,
.willibald-pane.tx-light-blue h3,
.willibald-pane.tx-light-blue h4,
.willibald-pane.tx-light-blue h5,
.willibald-pane.tx-light-blue h6 {
  color: #58aeba;
}

.willibald-pane.tx-light-blue a {
  color: #58aeba;
  text-decoration: underline;
}

.willibald-pane.tx-light-blue a:hover {
  opacity: .7;
}

/*# sourceMappingURL=willibald-panelstyle.tx-light-blue.css.map */