/**
 * @file
 * Textcolor "dark blue".
 */
.willibald-pane.tx-dark-blue p,
.willibald-pane.tx-dark-blue li,
.willibald-pane.tx-dark-blue blockquote,
.willibald-pane.tx-dark-blue h1,
.willibald-pane.tx-dark-blue h2,
.willibald-pane.tx-dark-blue h3,
.willibald-pane.tx-dark-blue h4,
.willibald-pane.tx-dark-blue h5,
.willibald-pane.tx-dark-blue h6 {
  color: #3d5874;
}

.willibald-pane.tx-dark-blue a {
  color: #3d5874;
  text-decoration: underline;
}

.willibald-pane.tx-dark-blue a:hover {
  opacity: .7;
}

/*# sourceMappingURL=willibald-panelstyle.tx-dark-blue.css.map */