/**
 * @file
 * Willibald panel style.
 */
.willibald-pane {
  padding: 1em;
  margin-bottom: .5em;
}

.willibald-pane h2 {
  margin-top: 0;
  padding-top: 0;
}

.willibald-pane ul {
  padding-left: 1.5em;
}

.willibald-pane.no-vertical-rhythm {
  line-height: 1.2em;
}

.willibald-pane.bg-orange {
  background-color: #ef7d00;
}

.willibald-pane.bg-dark-blue {
  background-color: #3d5874;
}

.willibald-pane.bg-light-blue {
  background-color: #58aeba;
}

.willibald-pane.bg-green {
  background-color: #95c11f;
}

.willibald-pane.vertical-text {
  height: 400px;
}

.willibald-pane.vertical-text p {
  margin: 0;
}

.willibald-pane.vertical-text .pane-content {
  transform: translateX(50px) rotate(90deg);
  transform-origin: top left;
  font-size: 60px;
  width: 500px;
  font-weight: bold;
  text-transform: uppercase;
}

/*# sourceMappingURL=willibald-panelstyle.css.map */