
@mixin tx-color($color) {
  p,
  li,
  blockquote,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $color;
  }
  a {
    color: $color;
    text-decoration: underline;
    &:hover {
      opacity: .7;
    }
  }
}
