/**
 * @file
 * Willibald panel style.
 */

@import "willibald";

.willibald-pane {
  padding: 1em;
  margin-bottom: .5em;

  h2 {
    margin-top: 0;
    padding-top: 0;
  }

  ul {
    padding-left: 1.5em;
  }

  &.no-vertical-rhythm {
    line-height: 1.2em;
  }

  // Background
  &.bg-orange {
    background-color: $orange;
  }

  &.bg-dark-blue {
    background-color: $dark-blue;
  }

  &.bg-light-blue {
    background-color: $light-blue;
  }

  &.bg-green {
    background-color: $green;
  }

  &.vertical-text {
    height: 400px;
    p {
      margin: 0;
    }
    .pane-content {
      transform: translateX(50px) rotate(90deg);
      transform-origin: top left;
      font-size: 60px;
      width: 500px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}
